@mixin flex($gap: 0px) {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: $gap;
}

@mixin flex-col($gap: 0px) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: $gap;
}

$dark: #343434;
$orange: #ff9619;
$grey: #5b5b5b;

@font-face {
  font-family: "Raleway";
  src: url("./fonts/Raleway-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("./fonts/Raleway-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("./fonts/Raleway-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("./fonts/Raleway-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("./fonts/Raleway-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  background-color: #fff;
  color: $dark;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 130%;
  letter-spacing: 1.8px;
}

li {
  list-style: none;
}

a {
  position: relative;
  color: $dark;
  text-decoration: none;
  transition: 0.5s;
}

a:before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: $dark;
  transform: scaleX(0);
  transition: transform 0.5s;
}

a:hover::before {
  transform-origin: center;
  transform: scaleX(1);
}

a:active,
a:hover,
a:focus {
  outline: 0;
  outline-offset: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.container {
  max-width: 1440px;
  width: 100%;
}

.header {
  & .container {
    @include flex(30px);
    justify-content: space-between;
    margin: 20px auto;
  }
  &__tel {
    font-weight: 700;
  }
  &__logo img {
    width: 215px;
    height: 65px;
  }
}

.nav {
  @include flex(30px);
  &__item {
    color: #343434;
    font-size: 13px;
    font-weight: 600;
    line-height: 150%;
    text-transform: uppercase;
  }
}

.footer {
  background: $grey;
  color: #fff;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 2.08px;
  text-transform: capitalize;
  & .container {
    @include flex(30px);
    justify-content: space-between;
    margin: 0 auto;
    padding: 50px 0;
  }
  & a {
    color: #fff;
    &::before {
      background-color: #fff;
    }
  }
  &__logo {
    width: 180px;
    height: 55px;
    background: url("./img/logo-footer.png") no-repeat;
    filter: drop-shadow(5px 5px 5px #222);
    background-blend-mode: screen;
  }
  &__copyright {
    width: 100%;
    margin-top: 50px;
    text-align: center;
  }
}

.navFooter {
  @include flex-col(30px);
  align-items: start;
}

.contacts {
  @include flex-col(30px);
  flex-direction: column;
  align-items: start;
  &__social {
    & a::before {
      content: none;
    }
    & svg {
      margin-right: 10px;
      transition: 0.5s;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
  &__tel {
    font-weight: 700;
  }
}

.mobileMenu {
  display: none;
}

.btn {
  position: relative;
  z-index: 1;
  @include flex(10px);
  justify-content: center;
  padding: 10px 15px;
  border: 0;
  background: $orange;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
  transition: 0.5s;
  cursor: pointer;
}

.btn::before,
.btn::after {
  content: "";
  position: absolute;
  z-index: -1;
  background-color: $dark;
  transition: transform 0.5s;
  will-change: transform;
}

.btn::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: left;
}

.btn::after {
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: right;
}

.btn:hover::before {
  transform: scaleX(0.55);
}

.btn:hover::after {
  transform: scaleX(0.55);
}

// Адаптивность
@media (max-width: 700px) {
  .mobileMenu {
    position: relative;
    left: 40px;
    cursor: pointer;
    display: flex;
    gap: 8px;
    flex-direction: column;
    &__burger {
      width: 40px;
      height: 4px;
      background-color: #ffffff;
      transition: 0.5s;
      border-radius: 5px;
    }
  }
  .mobileMenu.active .mobileMenu__burger:nth-of-type(1) {
    display: none;
  }
  .mobileMenu.active .mobileMenu__burger:nth-of-type(2) {
    transform: rotate(45deg);
  }
  .mobileMenu.active .mobileMenu__burger:nth-of-type(3) {
    transform: rotate(-45deg);
    margin-top: -12px;
  }
}
