@font-face {
  font-family: "Raleway";
  src: url("./fonts/Raleway-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("./fonts/Raleway-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("./fonts/Raleway-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("./fonts/Raleway-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("./fonts/Raleway-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("./fonts/Raleway-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  background-color: #fff;
  color: #343434;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 130%;
  letter-spacing: 1.8px;
}

li {
  list-style: none;
}

a {
  position: relative;
  color: #343434;
  text-decoration: none;
  transition: 0.5s;
}

a:before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #343434;
  transform: scaleX(0);
  transition: transform 0.5s;
}

a:hover::before {
  transform-origin: center;
  transform: scaleX(1);
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
  box-shadow: none;
}

.container {
  position: relative;
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}

.header .container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
  margin: 20px auto;
}
.header__tel {
  font-weight: 700;
}
.header__logo img {
  width: 215px;
  height: 65px;
}

.nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
.nav__item {
  color: #343434;
  font-size: 13px;
  font-weight: 600;
  line-height: 150%;
  text-transform: uppercase;
}

.footer {
  position: relative;
  background: #5b5b5b;
  color: #fff;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 2.08px;
  text-transform: capitalize;
}
.footer .container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
  align-items: start;
  margin: 0 auto;
  padding: 50px 0;
}
.footer a {
  color: #fff;
}
.footer a::before {
  background-color: #fff;
}
.footer__logo {
  width: 180px;
  height: 55px;
  background: url("./img/logo-footer.png") no-repeat;
  filter: drop-shadow(5px 5px 5px #222);
  background-blend-mode: screen;
}
.footer__copyright {
  width: 100%;
  margin-top: 30px;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 1.92px;
  text-transform: capitalize;
}

.navFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  align-items: start;
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  flex-direction: column;
  align-items: start;
}
.contacts__social a::before {
  content: none;
}
.contacts__social svg {
  margin-right: 10px;
  transition: 0.5s;
}
.contacts__social svg:hover {
  transform: scale(1.2);
}
.contacts__tel {
  font-weight: 700;
}

.mobileMenu {
  display: none;
}

.btn {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  padding: 10px 15px;
  border: 0;
  background: #ff9619;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
  transition: 0.5s;
  cursor: pointer;
}

.btn::before,
.btn::after {
  content: "";
  position: absolute;
  z-index: -1;
  background-color: #343434;
  transition: transform 0.5s;
  will-change: transform;
}

.btn::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: left;
}

.btn::after {
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: right;
}

.btn:hover::before {
  transform: scaleX(0.55);
}

.btn:hover::after {
  transform: scaleX(0.55);
}

.orange {
  position: absolute;
  width: 100px;
  background-color: #ff9619;
}

.square {
  position: absolute;
}

.title {
  width: 100%;
  margin-bottom: 30px;
  font-size: 35px;
  font-weight: 700;
  line-height: 150%;
}
.title::first-letter {
  color: #ff9619;
}
.title-three {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 500;
  line-height: 135%;
  letter-spacing: 1px;
}

.main {
  position: relative;
}
.main::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100%;
  height: 71.5%;
  background-color: #ccb2a3;
}
.main .container {
  padding-top: 30px;
}
.main__title {
  width: 30%;
  color: #fff;
  font-size: 42px;
  font-weight: 600;
  line-height: 110%;
  text-transform: capitalize;
}
.main__title::first-letter {
  color: #ff9619;
}
.main__found {
  margin-bottom: 30px;
  text-align: right;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: 127.5%;
}

.slider {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.slider__slide {
  max-width: 60%;
}
.slider__slide img {
  width: 100%;
}

.slider__toggle {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}
.slider__toggle-circle {
  width: 8px;
  height: 8px;
  background-color: #bfbebe;
  border-radius: 50%;
  transition: 0.5s;
}
.slider__toggle-circle:hover {
  transform: scale(1.3);
}
.slider__toggle-circle .active {
  width: 12px;
  height: 12px;
  background-color: #ff9619;
}
.slider__toggle-circle .active:hover {
  transform: none;
}

.history {
  max-width: 1300px;
  margin: 100px auto;
}
.history .container:not(.time) {
  display: flex;
  justify-content: end;
}
.history__text {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 45px;
  width: 47.7%;
  padding: 30px 50px;
  background-color: #5b5b5b;
  color: #fff;
  line-height: 135%;
  letter-spacing: 1.8px;
}
.history__text-bold {
  color: #fff;
}
.history__img {
  width: 60%;
  max-height: 500px;
}
.history__orange {
  position: absolute;
  right: 0;
  bottom: -50px;
  height: 50px;
}

.time {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
  margin-top: 30px;
  font-size: 25px;
}
.time-big {
  color: rgba(52, 52, 52, 0.1);
  font-size: 144px;
  font-weight: 600;
  line-height: 100%;
}

.brand {
  position: relative;
  margin: 100px auto;
}
.brand p {
  margin-bottom: 15px;
  letter-spacing: 1.8px;
}
.brand::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 0;
  width: 70%;
  height: 24%;
  background-color: #5b5b5b;
}

.info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  margin-bottom: 150px;
}
.info__img {
  width: 50%;
}
.info__text {
  width: 45%;
  padding-left: 7%;
  color: #fff;
}
.info__text-title {
  margin-bottom: 30px;
  text-align: right;
  color: #5b5b5b;
  font-size: 129px;
  font-style: normal;
  font-weight: 800;
  line-height: 100%;
}

.why {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  margin-bottom: 100px;
}
.why__img {
  width: 50%;
}
.why__text {
  width: 45%;
  padding-right: 7%;
}

.individ {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  z-index: 1;
  color: #fff;
}
.individ__img {
  width: 50%;
}
.individ__text {
  width: 45%;
  padding-right: 7%;
}

.square-grey {
  right: 0;
  top: 110px;
  z-index: 0;
  width: 70%;
  height: 26%;
  background-color: #5b5b5b;
}

.square-brown {
  left: 50px;
  top: 50px;
  z-index: -1;
  width: 50%;
  height: 95%;
  border: 5px solid #ccb2a3;
}

.square-green {
  left: 0;
  top: 44.7%;
  z-index: -1;
  width: 40%;
  height: 5%;
  background-color: #a9c2be;
}

.grid {
  position: absolute;
  z-index: -1;
  width: 30%;
  bottom: 0;
  background: #a9c2be;
}

.product {
  margin: 100px auto;
}

.productList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}
.productList__one {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0px;
  justify-content: center;
  border: 5px solid #f2f3f5;
  height: 200px;
  overflow: hidden;
  font-size: 13px;
  line-height: 100%;
}
.productList__one img {
  width: 100%;
  position: absolute;
}
.productList__text {
  width: 100%;
  height: 100%;
  padding: 15px 30px;
  background-color: #fff;
  transform: translateX(-150%);
  transition: 0.5s;
}
.productList__text p {
  margin-bottom: 10px;
}

.productList__one:hover .productList__text {
  transform: translateX(0);
  transition: 0.5s;
}

.partners .container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  margin: 100px auto;
  z-index: 2;
}

.partners {
  position: relative;
}
.partners .title {
  margin-bottom: 0;
}
.partners__img {
  width: 50%;
}
.partners__text {
  width: 45%;
  padding-right: 7%;
  color: #fff;
}
.partners__text p {
  margin-bottom: 10px;
}
.partners__orange-one {
  top: 8%;
  left: 45%;
  height: 80px;
  z-index: -1;
}
.partners__orange-two {
  bottom: -13%;
  right: 15%;
  width: 200px;
  height: 80px;
  z-index: -1;
}
.partners::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 10%;
  left: 0;
  width: 70%;
  height: 66%;
  background-color: #5b5b5b;
}
.partners::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 10%;
  right: 0;
  width: 51%;
  height: 60%;
  background-color: #ccb2a3;
}

.partners__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: space-between;
  padding-top: 50px;
}
.partners__list img {
  height: 90px;
}

.forma {
  position: relative;
  width: 100%;
  background-color: #a9c2be;
}
.forma .container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
  margin: 0 auto 100px;
}
.forma__img {
  width: 50%;
}

.forma__form {
  position: absolute;
  right: 7%;
  width: 47%;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  background-color: #fff;
  margin: 30px 0;
  padding: 30px 50px;
}
.form__title {
  font-size: 28px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.form > div {
  position: relative;
  height: 50px;
}
.form__error {
  position: absolute;
  padding-left: 5px;
  color: red;
  font-size: 14px;
}

.input {
  position: relative;
  width: 100%;
  height: 40px;
  padding: 5px;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #5b5b5b;
  font-size: 14px;
}
.input:focus {
  border: 0;
  border-bottom: 1px solid #5b5b5b;
}
.input::-moz-placeholder {
  color: #343434;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}
.input::placeholder {
  color: #343434;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}
.input::-webkit-input-placeholder {
  color: #343434;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}
.input::-moz-placeholder {
  color: #343434;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}
.input::-ms-input-placeholder {
  color: #343434;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus {
  -webkit-text-fill-color: #343434;
  -webkit-box-shadow: 0 0 0px 40rem #fff inset;
}

.textarea {
  position: relative;
  width: 100%;
  height: 40px;
  padding: 5px;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #5b5b5b;
  font-size: 14px;
  resize: vertical;
}
.textarea::-moz-placeholder {
  color: #343434;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}
.textarea::placeholder {
  color: #343434;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}
.textarea::-webkit-input-placeholder {
  color: #343434;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}
.textarea::-moz-placeholder {
  color: #343434;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}
.textarea::-ms-input-placeholder {
  color: #343434;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

div.checkbox {
  position: relative;
  height: auto;
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
}

.checkbox input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  width: 15px;
  height: 15px;
}

.checkbox input + label {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}

.checkbox input + label::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid #ff9619;
  border-radius: 5px;
  margin-right: 0.5em;
}

.checkbox input:checked + label::before {
  border: 1px solid #ff9619;
  background: #ff9619;
  border-radius: 2px;
}

.ekmi {
  text-align: right;
  color: #5b5b5b;
  font-size: 130px;
  font-weight: 800;
  line-height: 70%;
  letter-spacing: 16.9px;
  text-transform: lowercase;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transform: scale(0);
  transition: transform 0.5s, opacity 0.5s;
  pointer-events: none;
}
.modal__content {
  background-color: #fff;
  padding: 30px 50px;
  min-width: 350px;
  height: -moz-min-content;
  height: min-content;
  text-align: center;
  position: relative;
}
.modal__content-title {
  color: #0e0e0e;
}

.modal.open {
  pointer-events: auto;
  opacity: 1;
  transform: scale(1);
  transition: transform 0.5s, opacity 0.5s;
}

.close {
  color: rgb(8, 0, 0);
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 25px;
}

@media (max-width: 700px) {
  .mobileMenu {
    display: none;
    position: absolute;
    left: 40px;
    cursor: pointer;
    display: flex;
    gap: 8px;
    flex-direction: column;
  }
  .mobileMenu__burger {
    width: 40px;
    height: 4px;
    background-color: #fff;
    transition: 0.5s;
    border-radius: 5px;
  }
  .mobileMenu.active .mobileMenu__burger:nth-of-type(1) {
    display: none;
  }
  .mobileMenu.active .mobileMenu__burger:nth-of-type(2) {
    transform: rotate(45deg);
  }
  .mobileMenu.active .mobileMenu__burger:nth-of-type(3) {
    transform: rotate(-45deg);
    margin-top: -12px;
  }
}/*# sourceMappingURL=style.css.map */